body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: #fff;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 10px;
}