/* App-specific layout styles */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Sidebar list styling */
#cluster-details .taxa-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
